#root div:nth-child(1) {
  height: 100vh;
  background-size: contain!important;
  background-repeat: no-repeat!important;
}

button {
  padding: 10px;
  background: white;
  width: 50%;
  border-radius: 5px;
  border: 2px solid gainsboro;
  font-weight: bold;
  margin: auto;
  display: inline-block;
}
